$headerHeight: 2rem;
$headerBottom: 1rem;
$overallHeaderHeight: $headerHeight + $headerBottom;
$pageBtmMarg: 1rem;
$standardShadow: 1px 1px 2px 0px black;

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
h1 {
  margin: 0
}
body {
  background-color: rgb(150,170,130);
  font-family: Helvetica, Sans;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
header {
  background: rgb(60,60,60);
  line-height: $headerHeight;
  margin-bottom: $headerBottom;
  box-shadow: 1px 1px 1px 1px black;
  color: white;
  padding: 0rem 1rem;
}
.app-wrapper {
  position: relative;
  height: 100%;
}
.content-holder {
  height: calc(100% - #{$overallHeaderHeight});
  position: relative;
}
.page-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.page {
  max-width: 960px;
  margin: 0 auto;
}
.flexcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.colorBtn {
  border: none;
  position: relative;
  top: 0px;
  background-color: rgb(230,250,230);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 1px 2px 5px 0px rgba(black,0.75);
  margin: 1rem;
  width: 25%;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: white;
  }
}
.color-change-container {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  padding: 2rem;
  box-shadow: $standardShadow;
}
.github-search-container {
  background: white;
  padding: 1rem;
  box-shadow: $standardShadow;
  height: calc(100% - #{$pageBtmMarg});
}
.search-results {
  position: relative;
  overflow-y: auto;
  height: calc(100% - #{$pageBtmMarg}*2);
}
.search-result {
  display: block;
  background-color: rgb(245,250,245);
  border: 1px solid rgb(100,150,100);
  color: black;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  transition: opacity 0.5s ease-in-out, transform 0.5s linear;
}
