$headerHeight: 2rem;
$headerBottom: 1rem;
$overallHeaderHeight: $headerHeight + $headerBottom;
$pageBtmMarg: 1rem;
$standardShadow: 1px 1px 2px 0px black;
$darkGray: rgb(60,60,60);
$backgroundColor: rgb(150,170,130);
$heroTime: 1.0s;
